<head>
<link href="https://cdn.bootcss.com/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
	<div class="row">
		<div class="span12">
			<h3 class="text-center">
				Ether-Hedge 演示
			</h3>
			<h4>
				Phase 3 结算
			</h4>
			<table class="table">
				<thead>
					<tr>
						<th>
							<span>项目</span>
						</th>
						<th>
							<span>余额</span>
						</th>
						<th>
							<span>盈亏</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							资金池
						</td>
						<td>
							{{ balance_all }}
						</td>
						<td>
							{{ profit_all }}
						</td>
					</tr>
					<tr class="success">
						<td>
							{{ account_1 }}
						</td>
						<td>
							{{ balance_1 }}
						</td>
						<td>
							{{ profit_1 }}
						</td>
					</tr>
					<tr class="error">
						<td>
							{{ account_2 }}
						</td>
						<td>
							{{ balance_2 }}
						</td>
						<td>
							{{ profit_2 }}
						</td>
					</tr>
					<tr class="warning">
						<td>
							{{ account_3 }}
						</td>
						<td>
							{{ balance_3 }}
						</td>
						<td>
							{{ profit_3 }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>