<head>
<link href="https://cdn.bootcss.com/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<Body>
<div class="container">
	<div class="row">
		<div class="span12">
			<h3 class="text-center">
				Ether-Hedge 演示
			</h3>
			<h3 contenteditable="true" class="text-center">
				<code font size="30">{{ current_strategy }}</code>
			</h3>
			<form method="post">
				<fieldset>
					<legend>Phase 1 募集阶段</legend> <label>购买账户</label><p></p>
					<input name="_account" type="text" />
					 <label>投资额（Hedge）</label><input name="_amount" type="text" />
					
					<p>
						<span class="help-block">同意用户协议</span>
					</p> <label class="checkbox"><input type="checkbox" /> 勾选同意</label> <button class="btn btn-primary" type="submit">提交</button>
				</fieldset>
			</form>
			<form action="phase_2" method="post">
			<button class="btn" type="submit">进入下一阶段</button>
		</form>
		</div>
	</div>
</div>
</Body>